header{
  background: #c73075;
  color: pink;
  text-align: center;
  margin: 1%;
  padding: 2%;
  font-size: 50px;
  box-shadow: 2px 5px yellow;
  font-weight: 600;
  border: 2px solid pink;
}
 a img {
   display: block;
   width: 10%;
   height: 20%;
   margin:1% 3% 0 auto;
 }
.child img{
  width: 280px;
  height: 280px;

}
.child
{

  text-align: center;
  width: 30%;

}
.parent{
  display: flex;
}
